@media (min-width: 10px) and (max-width: 990px) { ... }
  .logo .book-preview{
    margin: 0 auto;
  }

  .logo .background-device {
    position: relative;
  }
}

.custom-pretty-input {
  font-family: helvetica, arial;
}

.custom-pretty-input .field-container {
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
}

.custom-pretty-input input[type='email'] {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #C1CDD6;
  float: left;
  font-size: 1.2em;
  padding: 10px;
}

.custom-pretty-input input[type='submit'] {
  background: #00B9D1;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #00a2b8;
  color: white;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.custom-pretty-input input[type='submit']:hover {
  background-color: #00a2b8;
}
