.banner {
  margin: 0 auto;
}
.supporters-box {
  background: rgba(255, 255, 255, 0.5);
  margin: 30px 0;
  padding-bottom: 20px;
}
.supporters-box h2 {
  margin-bottom: 30px;
}
.supporters-box .container {
  padding: 0;
  width: 100%;
  margin-right: -20px;
}
.supporters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.supporters .supporter {
  margin-right: 30px;
  margin-bottom: 30px;
}
.jumbo-margin {
  margin-top: 15px;
}
