---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

// Our variables
$base-font-family: 'Abel', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Responsive design stuff
$small: 600px;
$medium: 900px;
$large: 1024px;

@mixin min-width($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Import other files
@import 'base';
@import 'layout';
