@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/ProximaNova-Bold.otf);
}

html, body {
	margin:0;border:0;padding:0;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	overflow-x:hidden;
	position: relative;
  background:#44484b;
}

html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
	transition: all 0.3s ease;
	color:#999;
	display: inline-block;
	position: relative;
}

h1 {font-size:58px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:36px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

.heading {
	color:#f1f8fe;
	font-family: 'Montserrat', sans-serif;
	line-height:38px;
}

.subheading {
	color:#e9f4fd;
	font-family: 'Roboto', sans-serif;
	line-height:38px;
	margin:30px 0;
	margin-bottom:50px;
}

.light {
	font-family: 'Roboto', sans-serif
}

a:hover {
	text-decoration: none;
}

.accent {
	color:#7cc576 !important;
}

.white {
	color:white !important;
}

.muted {
	color:#bbbbbb !important;
}

.muted-light {
	color:#888 !important;
}

.gray {
	color: #6a727b;
}

p {
	margin:20px 0;
	font-size:30px;
	line-height: 42px;
  color:#e9f4fd;
}

p.small {
	font-size:18px;
	line-height: 36px;
	color:#e9f4fd;
}

header .intro-book {
	position: relative;
}

.intro-book img {
	display: block;
	margin:0 auto;
	width:100%;
	transition: all 0.3s ease;
	max-width:450px;
}

@media(max-width:991px) {
	.intro-book img {
		width:450px;
		position: relative;
		margin:0 auto;
	}
}

header .intro-text {
	position: relative;
}

@media(max-width:768px) {
	.intro-book img {
		width:250px;
		position: relative;
		margin:0 auto;
		bottom:-160px;
	}
}

.container {
	padding:0 30px;
}

section {
	padding:140px 0;
}

.btn {
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	padding:15px 30px;
	margin:20px 10px;
	border-radius:3px;
	transition: all 0.3s ease;
}

.book-preview {
	max-width:400px;
	width:80%;
	position: relative;
}

.book-preview .background-device {
	width:100%;
	position: absolute;
}
