#homeImage {
  width:40%;
  margin:auto;
  display:block;
}

.alternate {
  background-color:#C5B358 !important;
  color:#212121 !important;
}

nav {
  background-color:black;
  opacity:0.8;
  position:fixed;
  z-index:9999;
}

.navItem a {
  color:rgb(248, 208, 7);
}

.navItem:hover {
  background-color:gray;
}

body {
  background-color:#e6e6e6;
}

#siteTitle {
  text-align:center;
  font-weight:bold;
  font-size:124px;
  font-family: 'Source Sans Pro';
  position:relative;
  height:0px;
  margin:0px;
  top:250px;
}

.dayTitles {
  font-weight:300;
  font-family:'Source Sans Pro';
  text-align:center;
  font-size:38px;
}

#slide-out {
  z-index:10000000000000;
}

#mobileNav {
  background-color:black;
  opacity:0.8;
  width:100%;
  position:fixed;
  z-index:10000000;
}

.smaller {
  width:100px !important;
  margin:auto;
}

.subTitles {
  font-weight:300;
  font-family:'Source Sans Pro';
  text-align:center;
  font-size:22px;
}

#registerButton {
  margin:auto;
  display:block;
  width:170px;
  margin-top:25px;
  background-color:#212121;
  color:#F4C807;
}

.goldDivide {
  background-color:#C5B358;
  margin-top:15px;
  margin-bottom:20px;
}

.eventIcon {
  font-size:32px !important;
  margin-right:20px;
  text-align:center;
  color:#C5B358;
}

h2 {
  background-color:#212121;
  padding:20px;
  font-family: 'Source Sans Pro';
  text-align:center;
  font-weight:300;
  color:white;
  font-size:42px;
  color:#C5B358;
}

.sponsor {
  padding-top:50px;
  width:60%;
  display:block;
  margin:auto;
}

.secondSponsor {
  width:40%;
  display:block;
  float:left;
  margin:5%;
}

#menuIcon {
  color:white;
  z-index:100000;
  font-size:60px;
}

.mainText {
  margin-top:30px;
  font-size:18px;
  text-align:center;
}

#date {
  font-size:36px;
  font-family: 'Source Sans Pro';
  text-align:center;
  font-weight:300;
}

#time {
  font-size:26px;
  font-family: 'Source Sans Pro';
  font-weight:300;
  text-align:center;
}

@media only screen and (max-device-width: 600px) {
  #siteTitle {
    top:120px;
  }
}
