---
title: SteelHacks 2016
layout: default
---

<div id='welcome' class='slice'>
  <nav id='navbar' class='container'>
    <ul class='pull-left'>
      <li><a href='#'>SteelHacks</a></li>
    </ul>
    <ul class='pull-right'>
      <li><a href='#'>Schedule</a></li>
      <li><a href='#'>FAQ</a></li>
      <li><a href='#'>Sponsors</a></li>
      <li><a class='button' href='#'>Register</a></li>
      <li><a target='_blank' href='https://www.facebook.com/steelhacks'>
        <i class='fa fa-facebook-square'></i>
      </a></li>
      <li><a target='_blank' href='https://twitter.com/steelhacks'>
        <i class='fa fa-twitter-square'></i>
      </a></li>
    </ul>
  </nav>
  <div class='container'>
    <h1>Hello, world!</h1>
  </div>
</div>
<div id='signup-form' class='slice'>
  <div class='container'>
    <h3>Seats are filling up FAST. Start your registration now.</h3>
    <form id='homepage-signup-form'>
      <input type='text' placeholder='Name' />
      <input type='text' placeholder='Phone Number' />
      <input type='text' placeholder='Email Address' />
      <button type='submit'>Register</button>
    </form>
  </div>
</div>
<div id='schedule' class='slice slice--big'>
  <div class='container'>
    <h2>Schedule</h2>
    <div class='column-wrapper'>
      <div class='column'>
        <h3>Friday, Feb 8th</h3>
        <ul class='event-box'>
          {% for event in site.data.friday %}
            <li class='event'>
              <p class='time'>{{ event.time }}</p>
              <p class='title'>{{ event.title }}</p>
              <p class='description'>{{ event.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class='column'>
        <h3>Saturday, Feb 9th</h3>
        <ul class='event-box'>
          {% for event in site.data.saturday %}
            <li class='event'>
              <p class='time'>{{ event.time }}</p>
              <p class='title'>{{ event.title }}</p>
              <p class='description'>{{ event.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class='column'>
        <h3>Sunday, Feb 10th</h3>
        <ul class='event-box'>
          {% for event in site.data.sunday %}
            <li class='event'>
              <p class='time'>{{ event.time }}</p>
              <p class='title'>{{ event.title }}</p>
              <p class='description'>{{ event.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div id='faq' class='slice slice--big'>
  <div class='container'>
    <h2>FAQ</h2>
    {% for question in site.data.faq %}
      <div class='question'>
        <div class='question__header'>
          {{ question.title }}
          <i class='fa fa-chevron-down pull-right'></i>
          <i class='fa fa-chevron-up pull-right'></i>
        </div>
        <div class='question__body'>
          {{ question.body }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
