body * {
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  color: #fff;
}
.splash-container {
  background: #1576b3;
}
.ribbon {
  background: #020b11;
}
#info {
  background: #5b9fc9;
}
.content-subhead, .content-head, .splash-container p, .splash-container h1 {
  color: #f7b84d;
}
.splash-head {
  font-family: 'Josefin Sans', sans-serif;
}
.splash {
  text-transform: none;
}
.pure-button, a.pure-button-primary {
  background: #5b9fc9;
  color: #fff;
  border-radius: 5px;
  border: 5px solid rgba(247, 184, 77, 0.8);
  display: block;
  margin: 0 auto;
  padding: 15px;
  text-decoration: none;
  width: 300px;
}
