<footer class='slice'>
    <div class='container'>
      <div class='pull-left'>
        © 2020 SteelHacks. All Rights Reserved.
        Made with<i class='fa fa-heart heart'></i> at the University of
        Pittsburgh.
      </div>
      <div class='pull-right'>
        <ul>
          <li>
              <a target='_blank' href='https://www.facebook.com/{{site.facebook_username}}'><i class='fa fa-facebook-square'></i></a>
          </li>
          <li>
              <a target='_blank' href='https://twitter.com/{{site.twitter_username}}'><i class='fa fa-twitter-square'></i></a>
          </li>
          <li>
              <a target='_blank' href='https://www.instagram.com/{{site.instagram_username}}/'><i class='fa fa-instagram'></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>