html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

.slice {
  width: 100%;

  > .container {
    margin: 0 auto;

    @include min-width($small) {
      width: 500px;
    }

    @include min-width($medium) {
      width: 800px;
    }

    @include min-width($large) {
      width: 900px;
    }
  }
}
