#welcome {
  background: rgb(0, 0, 0);
  color: white;
  padding-bottom: 50px;
  text-align: center;

  p {
    font-size: 22px;
  }
}

#registered {
  background-color: $base-primary;
  color: white;
  padding-bottom: 50px;
  text-align: center;

  p {
    font-size: 22px;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: darken($base-secondary, 10%);
  }
}

#main-logo {
  max-width: 80%;
  height: auto;
}

#mlh-trust-badge {
  display: block;
  left: 50px;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  top: 0;
  width: 10%;
  z-index: 10000;

  @include size-less-than($small) {
    top: -52px;
  }

  img {
    width: 100%;
  }
}

#navbar {
  $mobile-navbar-width: 700px;

  clear: both;
  background: darken($base-primary, 10%);
  margin-bottom: 2%;
  width: 100%;

  @include size-less-than($mobile-navbar-width) {
    border-bottom: 1px solid white;

    #menu {
      display: none;
      float: left;
      line-height: 2em;
      margin-top: 0;
      text-align: left;
      width: 100%;

      &:before {
        clear: both;
        overflow: auto;
        zoom: 1;
      }

      &.visible {
        display: block;
      }

      a.button {
        line-height: 3.5em;
      }
    }

    li {
      display: block;
    }

    .social-link {
      padding-left: .5em;
    }
  }

  @include size-greater-than($mobile-navbar-width) {
    #menu {
      float: right;
    }

    li {
      display: inline;
    }

    .social-link {
      display: none;
    }

    #mobile-nav-trigger {
      display: none;
    }
  }

  #brand {
    margin-top: 12px;

    a {
      font-size: 22px;
    }
  }

  a {
    color: white;
    font-size: 16px;
    text-decoration: none;

    &.button {
      border: 1px solid white;
      border-radius: 2px;
      padding: 7px 26px;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .fa {
    font-size: 21px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-left: 11px;
    margin-right: 11px;
  }
}

#signup-form {
  background-color: $base-primary;
  color: white;
  overflow: auto;
  padding: 1.5em 0;

  h3 {
    text-align: center;
  }

  .button {
    background-color: $yellow-color;
    border: 0;
    border-radius: 3px;
    color: white;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;

    @include size-less-than($small) {
      width: 100%;
    }

    @include size-between($small, $medium) {
      width: 50%;
    }

    @include size-greater-than($medium) {
      width: 40%;
    }
  }
}

.event-box {
  border: 2px solid black;
  list-style: none;
  padding: 0;

  .event {
    display: flex;
    padding: 12px 5px;

    &:hover {
      background-color: darken(white, 10%);
    }

    .time {
      color: #000000;
    }

    .title {
      color: $base-primary;
    }

    p {
      margin: 0.2em 1em;
    }
  }

  .event__body {

  }

  .event__timeline {

  }
}

.prize-box {
  border: 2px solid black;
  list-style: none;
  padding: 0;

  .prize {
    display: flex;
    padding: 12px 5px;

    .title {
      color: #000000;
      font-size: 1.5em;
      margin: 0.2em 0.6em;
    }

    p {
      margin: 0.2em 1em;
    }
  }

  .prize__body {

  }
}

#faq {
  background-color: $base-primary;
  color: white;
}

.question {
  $spacing-amount: 22px;

  border: 2px solid white;
  font-size: 22px;

  .question__header {
    cursor: pointer;
    padding: $spacing-amount;
  }

  .question__body {
    padding: $spacing-amount;
    padding-top: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 0;
  }

  &.active {
    background-color: black;

    .question__body {
      display: block;
    }

    .fa-chevron-down {
      display: none;
    }

    .fa-chevron-up {
      display: block;
    }
  }

  .fa {
    font-size: 16px;
  }

  .fa-chevron-up {
    display: none;
  }

  .question__body {
    display: none;
    margin-top: $spacing-amount;
  }
}

#sponsors {
  .get-in-touch {
    text-align: center;
  }
}

#map {
  @include size-less-than($small) {
    height: 250px;
  }

  @include size-greater-than($small) {
    height: 350px;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

footer {
  $spacing-amount: 30px;

  background-color: darken($base-primary, 10%);
  color: white;
  font-size: 16px;
  padding-bottom: $spacing-amount;
  padding-top: $spacing-amount;

  a,
  a:visited {
    color: white;
    font-size: 18px;
  }

  .fa {
    padding-left: .5em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
}

.heart {
  color: #F60D0D;
}

.sponsor {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.sponsor-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3em auto;

  > div:first-child {
    margin-right: 2em;
  }

  > div:last-child {
    margin-left: 2em;
  }

  .first {
    width: 75%;
  }

  .second {
    width: 55%;
  }

  .third {
    width: 40%;
  }

  .fourth {
    width: 32%;
  }

  .fifth {
    width: 25%;
  }
}

#timer {
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 2em;
  padding: .5em;
  width: 60%;

  #timer__pre {
    text-align: left;
  }

  #time {
    font-size: 3em;
    margin: .25em 0;
  }

  #timer__post {
    text-align: right;
  }
}

#announcements {
  margin-bottom: 2em;
}

.announcement {
  border-bottom: 1px solid grey;

  .title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  &:not(:first-of-type) {
    margin-top: 1em;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
