#welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: #111;
  background: linear-gradient(
    to bottom,
    #050318 60%,
    rgb(1, 18, 60),
    #182b8e,
    rgb(217, 47, 155),
    rgb(236, 3, 120)
  );
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.column {
  margin-left: -10px;
  overflow: visible;
  color: white;
}
#schedule {
  background: linear-gradient(to bottom, black, rgb(1, 18, 60));
}
#schedule-title {
  margin-bottom: 20px;
  color: white;
}
#welcome p {
  font-size: 26px;
}

#description-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black /*rgb(30, 30, 30)*/;
  color: white;
  text-align: center;
  align-items: center;
}
#registered p {
  font-size: 22px;
}
#registered a:link {
  color: white;
}
#registered a:visited {
  color: #cfc508;
}

#main-logo {
  width: 60vw;
}

#mlh-trust-badge {
  display: block;
  left: 50px;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  top: 0;
  width: 10%;
  z-index: 10000;
}
@media screen and (max-width: 600px) {
  #mlh-trust-badge {
    top: -52px;
  }
}
#mlh-trust-badge img {
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  clear: both;
  border: solid black 2px;
  background: black;
  width: 100%;
  z-index: 1000;
  min-height: 50px;
}
@media screen and (max-width: 700px) {
  #navbar #menu {
    display: none;
    float: left;
    line-height: 2em;
    margin-top: 0;
    text-align: left;
    width: 100%;
  }
  #navbar #menu:before {
    clear: both;
    overflow: auto;
    zoom: 1;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  #navbar #menu.visible {
    display: block;
    height: 150px;
    z-index: 500;
    margin-top: 50px;
    background-color: black;
    position: absolute;
  }
  #navbar #menu a.button {
    line-height: 3.5em;
  }
  #navbar li {
    display: block;
  }
  #navbar .social-link {
    padding-left: 0.5em;
  }
}
.center-text {
  text-align: center;
}
.container {
  align-items: center;
}
@media screen and (min-width: 700px) {
  #navbar #menu {
    float: right;
  }
  #navbar li {
    display: inline;
  }
  #navbar .social-link {
    display: none;
  }
  #navbar #mobile-nav-trigger {
    display: none;
  }
}
#navbar #brand {
  margin-top: 12px;
}
#navbar #brand a {
  font-size: 22px;
}
#navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
#navbar a:hover {
  border-bottom: 1px solid gold;
}
#navbar a.button {
  border: 1px solid white;
  border-radius: 2px;
  padding: 7px 26px;
}
#navbar a:hover {
  font-weight: bold;
}
#navbar .fa {
  font-size: 21px;
}
#navbar ul {
  list-style: none;
  padding: 0;
}
#navbar li {
  margin-left: 11px;
  margin-right: 11px;
}

#signup-form {
  background-color: #dab821;
  color: white;
  overflow: auto;
  padding: 1.5em 0;
}
#signup-form h3 {
  text-align: center;
}
.date {
  display: flex;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#signup-form {
  background-color: #f4c807;
  border: 0;
  border-radius: 3px;
  color: white;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #signup-form .button {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #signup-form .button {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  #signup-form .button {
    width: 40%;
  }
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  background: transparent url(../img/background/twinkling.png) repeat top center;
  z-index: 3;
  animation: move-twinkle-back 200s linear infinite;
  position: absolute;
  top: 0;
  margin-bottom: 500px;
  width: 100%;
  height: 60%;
  display: block;
}

.moon {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 120px;
  left: 200px;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  z-index: 4;
  box-shadow:
    0 0 0 0.62em rgba(32, 105, 149, 0.6),
    0 0 0 1.25em rgba(32, 105, 149, 0.5),
    0 0 0 1.9em rgba(32, 105, 149, 0.4);
}
.moon:before {
  content: "";
  position: absolute;
  background-color: #ebefe7;
  height: 0.62em;
  width: 0.62em;
  border-radius: 50%;
  top: 0.5em;
  left: 0.37em;
}
.moon:after {
  content: "";
  position: absolute;
  background-color: #ebefe7;
  height: 0.43em;
  width: 0.43em;
  border-radius: 50%;
  top: 1.25em;
  left: 0.75em;
}

.menu {
  align-items: left;
}

.hour {
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 100px;
}

.event {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  border-radius: 6px;
  width: 100%;
  margin-top: 0px;
  height: 80px;
  text-align: start;
  padding: 8px;
  color: white;
}

.event p {
  margin: 0px;
}
.day {
  list-style: none;
  padding: 0;
}

.prize-box {
  border: 2px solid black;
  list-style: none;
  padding: 0;
}
.prize-box .prize {
  display: flex;
  padding: 12px 5px;
}
.prize-box .prize .title {
  color: #000000;
  font-size: 1.5em;
  margin: 0.2em 0.6em;
}
.prize-box .prize p {
  margin: 0.2em 1em;
}

.landscape {
  display: flex;
  z-index: 3;
  width: 100vw;
  align-items: start;
  justify-self: center;
  align-self: end;
  bottom: 0;
}
.stars {
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
}
#faq {
  background: linear-gradient(to bottom, rgb(1, 18, 60), rgb(170, 58, 77));
  color: white;
}
#sponsors {
  background: linear-gradient(to bottom, rgb(170, 58, 77), rgb(253, 130, 37));
}
.sponsor-group {
  background-color: transparent;
}
.question__body {
  background-color: gold;
  color: black;
}

.question__body {
  text-decoration: none;
}

.question.active .question__header {
  background-color: black;
}

.question {
  border: 2px solid white;
  font-size: 22px;
}
.question .question__header {
  cursor: pointer;
  padding: 22px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.question .question__body {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.question:not(:last-of-type) {
  border-bottom: 0;
}
.question.active {
  background-color: black;
}
.question.active .question__body {
  display: block;
}
.question.active .fa-chevron-down {
  display: none;
}
.question.active .fa-chevron-up {
  display: block;
}
.question .fa {
  font-size: 16px;
}
.question:hover .fa-chevron-down {
  color: gold;
}
.question .fa-chevron-up {
  display: none;
}
.question .question__body {
  display: none;
}

#sponsors .get-in-touch {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #map {
    height: 250px;
  }
}
@media screen and (min-width: 600px) {
  #map {
    height: 350px;
  }
}
#map iframe {
  height: 100%;
  width: 100%;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
}
footer a,
footer a:visited {
  color: white;
  font-size: 18px;
}
footer .fa {
  padding-left: 0.5em;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
}

.heart {
  color: #f60d0d;
}

.sponsor {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.sponsor-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3em auto;
}
.sponsor-group > div:first-child {
  margin-right: 2em;
}
.sponsor-group > div:last-child {
  margin-left: 2em;
}
.sponsor-group .first {
  width: 75%;
}
.sponsor-group .second {
  width: 55%;
}
.sponsor-group .third {
  width: 40%;
}
.sponsor-group .fourth {
  width: 32%;
}
.sponsor-group .fifth {
  width: 25%;
}

#timer {
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 2em;
  padding: 0.5em;
  width: 60%;
}
#timer #timer__pre {
  text-align: left;
}
#timer #time {
  font-size: 3em;
  margin: 0.25em 0;
}
#timer #timer__post {
  text-align: right;
}

#announcements {
  margin-bottom: 2em;
}

.announcement {
  border-bottom: 1px solid grey;
}
.announcement .title {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.announcement:not(:first-of-type) {
  margin-top: 1em;
}
.announcement:last-of-type {
  border-bottom: none;
}

#registration-button {
  background-color: black;
  border-radius: 40px;
  color: rgb(253, 253, 253);
  height: 80px;
  width: 350px;
  border: 3px solid gold;
  margin-bottom: 50px;
}
#registration-button:hover {
  background-color: gold;
  color: black;
  border: 3px solid black;
}

.text-white {
  color: white;
}
.landing {
  padding-top: 50px;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 5;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skyline {
  position: absolute;
  bottom: 0px;
  filter: brightness(0%);
  width: 100vw;
  z-index: 5;
}
#mountains {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  z-index: 4;
  opacity: 1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  filter: brightness(60%);
  max-height: 200px;
}
#location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

h2,
h3 {
  color: white;
  margin: 0;
}

.yellow-line {
  height: 0px;
  border: 2px solid gold;
  border-radius: 4px;
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  align-self: center;
}
.page-break {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  height: 0px;
}

.yellow-lines {
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  margin-left: 55px;
  margin-right: 55px;
  padding: 30px;
}
.date-box {
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
}
.time-line {
  border: 0.5px solid white;
  width: 1000px;
  height: 0.25px;
  background-color: white;
  margin: 1px;
}

.time-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5px;
}

.time {
  color: white;
  margin-right: 4px;
}
.events {
  position: absolute;
  display: flex;
  min-height: 100px;
  max-width: 410px;
  min-width: 300px;
  margin-top: 4px;
}
.space {
  min-height: 20px;
  min-width: 50px;
}

#Hacking-Begins,
#Hacking-Ends {
  position: relative;
  display: flex;
  height: 20px;
  background-color: rgb(255, 203, 73);
  justify-content: center;
  border: none;
  margin-bottom: 5px;
  color: black;
  z-index: 1000;
  max-width: 385px;
  font-weight: bold;

  border-radius: 10px;
}
#Hacking-Ends {
  background-color: white;
}
#Hacking-Begins p,
#Hacking-Ends p {
  align-self: center;
}

.hacking {
  min-height: 30px;
  margin-bottom: 5px;
}
.two-hours {
  overflow: visible;
  height: 180px;
  z-index: 2;
  background-color: white;
}

.half-hour {
  height: 32px;
  justify-content: center;
}
.start-half {
  margin-top: 48px;
}

.meal {
  background-color: rgb(2, 134, 2);
}

.important {
  background-color: rgb(208, 3, 3);
}

.ceremony {
  background-color: purple;
}

.sponsor-event {
  background-color: rgb(62, 163, 241);
}

.eighty-mins {
  height: 125px;
}
.start-forty {
  margin-top: 65px;
}

.forty-mins {
  height: 62px;
}
.start-fifty {
  margin-top: 80px;
}

.event-time {
  font-size: 0.75em;
}
#team-formation {
  margin-top: 15px;
}
h1 {
  margin-bottom: 0px;
}

.steelhacks {
  margin-left: 20px;
  justify-self: start;
  align-self: center;
  color: white;
}
@media (max-width: 700px) {
  body {
    font-size: 12px;
  }
  #welcome {
    height: 700px;
  }
  .stars {
    width: auto;
  }

  #skyline,
  #mountains {
    bottom: 0px;
  }
  .yellow-lines {
    width: 80%;
  }
  .yellow-line {
    width: 1000px;
    margin: 0;
  }
  #schedule-title {
    align-self: center;
  }
  #registration-button {
    background-color: transparent;
  }
  .date-box {
    margin-left: -35px;
  }
  .title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .moon {
    left: 15%;
  }

  .column ul {
    margin-left: -20px;
  }
  .landing {
    padding-top: 150px;
  }
  .column {
    justify-content: center;
  }
}
.sponsors {
  background-color: transparent;
}
#sponsor-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
#Coming-soon {
  text-align: center;
  font-size: 40px;
  color: white;
}
