#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  background: linear-gradient(
    to bottom,
    #050318,
    rgb(1, 18, 60),
    #1e57b3,
    rgb(248, 55, 164)
  );
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
#welcome p {
  font-size: 26px;
}
#skyline {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  filter: brightness(0%);
}
#description-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black /*rgb(30, 30, 30)*/;
  color: white;
  text-align: center;
  align-items: center;
}
#registered p {
  font-size: 22px;
}
#registered a:link {
  color: white;
}
#registered a:visited {
  color: #cfc508;
}

#main-logo {
  max-width: 50%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 50%;
  clip-path: circle(40% at 50% 50%);
}

#mlh-trust-badge {
  display: block;
  left: 50px;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  top: 0;
  width: 10%;
  z-index: 10000;
}
@media screen and (max-width: 600px) {
  #mlh-trust-badge {
    top: -52px;
  }
}
#mlh-trust-badge img {
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  color: gold;
  clear: both;
  background: black;
  margin-bottom: 2%;
  width: 100%;
  z-index: 1000;
  min-height: 50px;
}
@media screen and (max-width: 700px) {
  #navbar {
    border-bottom: 1px solid white;
  }
  #navbar #menu {
    display: none;
    float: left;
    line-height: 2em;
    margin-top: 0;
    text-align: left;
    width: 100%;
  }
  #navbar #menu:before {
    clear: both;
    overflow: auto;
    zoom: 1;
  }
  #navbar #menu.visible {
    display: block;
  }
  #navbar #menu a.button {
    line-height: 3.5em;
  }
  #navbar li {
    display: block;
  }
  #navbar .social-link {
    padding-left: 0.5em;
  }
}
.container {
  align-items: center;
}
@media screen and (min-width: 700px) {
  #navbar #menu {
    float: right;
  }
  #navbar li {
    display: inline;
  }
  #navbar .social-link {
    display: none;
  }
  #navbar #mobile-nav-trigger {
    display: none;
  }
}
#navbar #brand {
  margin-top: 12px;
}
#navbar #brand a {
  font-size: 22px;
}
#navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
#navbar a:hover {
  border-bottom: 1px solid gold;
}
#navbar a.button {
  border: 1px solid white;
  border-radius: 2px;
  padding: 7px 26px;
}
#navbar a:hover {
  font-weight: bold;
}
#navbar .fa {
  font-size: 21px;
}
#navbar ul {
  list-style: none;
  padding: 0;
}
#navbar li {
  margin-left: 11px;
  margin-right: 11px;
}

#signup-form {
  background-color: #dab821;
  color: white;
  overflow: auto;
  padding: 1.5em 0;
}
#signup-form h3 {
  text-align: center;
}
#signup-form {
  background-color: #f4c807;
  border: 0;
  border-radius: 3px;
  color: white;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #signup-form .button {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #signup-form .button {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  #signup-form .button {
    width: 40%;
  }
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
    to {
      background-position: -10000px 5000px;
    }
  }
}

.twinkling {
  background: transparent url(css/background/twinkling.png) repeat top center;
  z-index: 50;
  animation: move-twinkle-back 200s linear infinite;
}
.moon {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 120px;
  left: 200px;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  z-index: 100;
  box-shadow:
    0 0 0 0.62em rgba(32, 105, 149, 0.6),
    0 0 0 1.25em rgba(32, 105, 149, 0.5),
    0 0 0 1.9em rgba(32, 105, 149, 0.4);
}
.moon:before {
  content: "";
  position: absolute;
  background-color: #ebefe7;
  height: 0.62em;
  width: 0.62em;
  border-radius: 50%;
  top: 0.5em;
  left: 0.37em;
}
.moon:after {
  content: "";
  position: absolute;
  background-color: #ebefe7;
  height: 0.43em;
  width: 0.43em;
  border-radius: 50%;
  top: 1.25em;
  left: 0.75em;
}

.menu {
  align-items: left;
}

.hour {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 100px;
}

.event {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  border-radius: 6px;
  width: 100%;
  margin-top: 0px;
  height: 80px;
  text-align: start;
  padding: 8px;
  color: white;
}

.event p {
  margin: 0px;
}
.day {
  list-style: none;
  padding: 0;
}

.prize-box {
  border: 2px solid black;
  list-style: none;
  padding: 0;
}
.prize-box .prize {
  display: flex;
  padding: 12px 5px;
}
.prize-box .prize .title {
  color: #000000;
  font-size: 1.5em;
  margin: 0.2em 0.6em;
}
.prize-box .prize p {
  margin: 0.2em 1em;
}
.stars {
  z-index: 2;
}
#faq {
  background-color: rgb(30, 30, 30);
  color: white;
}

.question__body {
  background-color: black;
}
.question {
  border: 2px solid white;
  font-size: 22px;
}
.question .question__header {
  cursor: pointer;
  padding: 22px;
}
.question .question__body {
  padding: 22px;
  padding-top: 0;
}
.question:not(:last-of-type) {
  border-bottom: 0;
}
.question.active {
}
.question.active .question__body {
  display: block;
}
.question.active .fa-chevron-down {
  display: none;
}
.question.active .fa-chevron-up {
  display: block;
}
.question .fa {
  font-size: 16px;
}
.question .fa-chevron-up {
  display: none;
}
.question .question__body {
  display: none;
  margin-top: 22px;
}

#sponsors .get-in-touch {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #map {
    height: 250px;
  }
}
@media screen and (min-width: 600px) {
  #map {
    height: 350px;
  }
}
#map iframe {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #dab821;
  color: white;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer a,
footer a:visited {
  color: white;
  font-size: 18px;
}
footer .fa {
  padding-left: 0.5em;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
}

.heart {
  color: #f60d0d;
}

.sponsor {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.sponsor-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3em auto;
}
.sponsor-group > div:first-child {
  margin-right: 2em;
}
.sponsor-group > div:last-child {
  margin-left: 2em;
}
.sponsor-group .first {
  width: 75%;
}
.sponsor-group .second {
  width: 55%;
}
.sponsor-group .third {
  width: 40%;
}
.sponsor-group .fourth {
  width: 32%;
}
.sponsor-group .fifth {
  width: 25%;
}

#timer {
  background-color: rgba(0, 0, 0, 0);
  margin: 2em auto 2em;
  padding: 0.5em;
  width: 60%;
}
#timer #timer__pre {
  text-align: left;
}
#timer #time {
  font-size: 3em;
  margin: 0.25em 0;
}
#timer #timer__post {
  text-align: right;
}

#announcements {
  margin-bottom: 2em;
}

.announcement {
  border-bottom: 1px solid grey;
}
.announcement .title {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.announcement:not(:first-of-type) {
  margin-top: 1em;
}
.announcement:last-of-type {
  border-bottom: none;
}

#registration-button {
  background-color: black;
  border-radius: 40px;
  color: rgb(253, 253, 253);
  height: 80px;
  width: 350px;
  border: 3px solid gold;
  margin-bottom: 50px;
}
#registration-button:hover {
  background-color: white;
  color: black;
}

.text-white {
  color: white;
}
.landing {
  position: absolute;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 5;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skyline {
  z-index: 4;
  margin-bottom: 0%;
  width: 1500px;
}

#mountains {
  position: absolute;
  margin-top: 700px;
  width: 1500px;
  z-index: 3;
  opacity: 1;
  transform: translateY(-50%) scaleY(0.5);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  filter: brightness(0.5);
}
#location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

h2,
h3 {
  margin: 0;
}

.yellow-lines {
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}
.time-line {
  border: 0.5px solid black;
  width: 1000px;
  height: 0.25px;
  background-color: black;
  margin: 1px;
  z-index: -1;
}

.time-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5px;
}

.time {
  margin-right: 4px;
}
.events {
  position: absolute;
  display: flex;
  min-height: 100px;
  max-width: 410px;
  min-width: 300px;
  margin-top: 4px;
}
.space {
  min-height: 20px;
  min-width: 50px;
}

#Hacking-Begins {
  position: relative;
  display: flex;
  height: 22px;
  background-color: rgb(255, 203, 73);
  justify-content: center;
  margin-bottom: 5px;
  border: solid white 2px;
  color: black;
  z-index: 1000;
}
#Hacking-Ends {
  position: relative;
  display: flex;
  height: 20px;
  background-color: black;
  justify-content: center;
  margin-bottom: 5px;

  color: rgb(255, 255, 255);
  z-index: 1000;
}
#Hacking-Begins p,
#Hacking-Ends p {
  align-self: center;
}

.hacking {
  min-height: 30px;
  margin-bottom: 5px;
}
.two-hours {
  overflow: visible;
  height: 180px;
  z-index: 2;
  background-color: white;
}

.half-hour {
  height: 32px;
  justify-content: center;
}
.start-half {
  margin-top: 48px;
}

.meal {
  background-color: rgb(2, 134, 2);
}

.important {
  background-color: rgb(208, 3, 3);
}

.ceremony {
  background-color: purple;
}

.sponsor-event {
  background-color: rgb(62, 163, 241);
}

.eighty-mins {
  height: 125px;
}
.start-forty {
  margin-top: 65px;
}

.forty-mins {
  height: 62px;
}
.start-fifty {
  margin-top: 80px;
}

.event-time {
  font-size: 0.75em;
}
#team-formation {
  margin-top: 15px;
}
h1 {
  margin-bottom: 0px;
}

.steelhacks {
  margin-left: 20px;
  justify-self: start;
  align-self: center;
  color: white;
}
@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  #description-block {
    display: none;
  }
  .landing {
    padding-top: 200px;
  }
}
