html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

.slice {
  width: 100%;

  > .container {
    margin: 0 auto;

    @include size-less-than($small) {
      width: 95%;
    }

    @include size-between($small, $large) {
      width: 80%;
    }

    @include size-greater-than($large) {
      width: 900px;
    }
  }
}
