html,
body {
  font-family: $base-font-family;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}
*,
html {
  scroll-behavior: smooth !important;
}

button {
  font-family: "Abel", Helvetica, Arial, sans-serif;
  font-size: 35px;
}

// Headers
h1 {
  font-size: 52px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

.text--gold {
  color: $yellow-color;
}

.slice {
  width: 100%;
}
.slice.slice--big {
  padding-bottom: 60px;
  padding-top: 60px;
}
.slice.slice--big h1,
.slice.slice--big h2,
.slice.slice--big h3 {
  margin-top: 0;
}
.slice > .container {
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .slice > .container {
    width: 95%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .slice > .container {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .slice > .container {
    width: 950px;
  }
}

@media screen and (min-width: 900px) {
  .column-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .column-wrapper .column {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .column-wrapper .column {
    width: 50%;
  }
  .column-wrapper .column:last-child {
    margin-right: 0;
  }
}

// Utility
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
