#countdown {
  width: 100%;
}
#countdown .group {
  display: inline-block;
  position: relative;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 80px;
  height: 60px;
  max-width: 22%;
  z-border: 1px solid #800;
}
#countdown .flip {
  display: block;
  vertical-align: baseline;
  width: 100%;
  border-radius: 7.425px;
  background-image: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(104, 104, 104) 50%, rgb(0, 0, 0) 50%, rgb(83, 80, 80) 100%);
  background-image: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(104, 104, 104) 50%, rgb(0, 0, 0) 50%, rgb(83, 80, 80) 100%);
  z-border: 1px solid #f80;
}
#countdown .number {
  font-size: 48px;
  line-height: 1.25em;
  color: rgb(255, 255, 255);
  font-family: Arial, _sans;
  text-align: center;
  font-weight: normal;
  z-border: 1px solid #080;
}
#countdown .crossbar {
  position: absolute;
  left: 0px;
  top: 29px;
  height: 2px;
  width: 100%;
  background: #000;
}
#countdown .countdownLabel {
  font-size: 12px;
  font-family: Arial, _sans;
  text-align: center;
  font-weight: bold;
  color: rgb(48, 48, 48);
  z-border: 1px solid #008;
}
