<!doctype html>
<html>
  {% include head.html %}
  <a
    id="mlh-trust-badge"
    style="
      display: block;
      max-width: 100px;
      min-width: 60px;
      position: absolute;
      top: 0;
      width: 10%;
      z-index: 10000;
    "
    href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2025-season&utm_content=gray"
    target="_blank"
    ><img
      src="https://s3.amazonaws.com/logged-assets/trust-badge/2025/mlh-trust-badge-2025-gray.svg"
      alt="Major League Hacking 2025 Hackathon Season"
      style="width: 100%"
  /></a>

  <body>
    {{ content }} {% include footer.html %}
  </body>
</html>
